
.frame   { width: 100%;                                         padding: 5px; display: inline-block; }
.box     {                           height: calc(100% - 10px); padding: 5px; display: inline-block; position: relative; }
.border  { width: calc(100% - 10px); height: calc(100% - 10px); padding: 5px; display: block;        position: absolute;
                                                                              box-sizing: border-box; border: 1px solid; }

.row     { width: 100%; display: block; }

.cmd-frame { height: 10em; }
.cmd-box   { width: calc(33.3% - 15px); }

.pan-frame { height: 25em; }
.pan-box   { width: calc(50% - 15px);  }

.dbg-frame { height: 10em; }
.dbg-box   { width: calc(100% - 15px);  }

#editor, #viz, #debug { width: 100%; height: 100%; border: none; }

#options { width: 100%; height: 6em; }

