
.frame   { width: 100%;                                         padding: 5px; display: inline-block; }
.box     {                           height: calc(100% - 10px); padding: 5px; display: inline-block; position: relative; }
.border  { width: calc(100% - 10px); height: calc(100% - 10px); padding: 5px; display: block;        position: absolute;
                                                                              box-sizing: border-box; border: 1px solid; }

.row     { width: 100%; display: block; }

.cmd-frame { height: 3em; }
.cmd-box   { width: calc(33% - 15px); }

.pan-frame { height: 20em; }
.cg-box    { width: calc(75% - 15px); }
.edit-box  { width: calc(25% - 15px); }

.cfg-frame { height: 15em; }
.cfg-box   { width: calc(100% - 15px);  }

.dbg-frame { height: 10em; }
.dbg-box   { width: calc(100% - 15px);  }

#cgviz, #cfgviz , #editor, #debug, svg { width: 100%; height: 100%; border: none; }

.node rect {
  stroke: #333;
  fill: #fff;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}

